@font-face {
    font-family: 'KobzarKSRegular';
    src: url('KobzarKSRegular.eot');
    src: url('KobzarKSRegular.eot?#iefix') format('embedded-opentype'),
         url('KobzarKSRegular.woff') format('woff'),
         url('KobzarKSRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}