// Main stylesheet
@import 'nib'
@import '../font/roboto.css'
@import '../font/helveticaneuecyr.css'
@import '../font/kobzarksregular.css'

main-page-bgc = #19a0b4
main-page-fc = #ffffff
anim-time = 0.3s
radius = 5px
services-bgc = #ffffff
services-fc = #676767

noselection()
	::selection
			background transparent

body
	font-family robotoregular

.container
	/*width 940px*/
	max-width 980px

// Главная страница - начало

.main-page
	background-color main-page-bgc
	color main-page-fc
.header
	margin-top 48px
	padding 0
	&-logo
		margin-top -13px
		margin-left -15px
		&__link
			display block
	&-slogan
		padding-left 20px
		margin 2px 0 0 0
		font 20px/24px KobzarKSRegular
	&-address
		/*width 265px*/
		font 12px/1 robotolight
		text-align right
		margin 0
		padding 0
		& span
			margin-right 10px
			font-size 10px
		.address__row
			margin 0 0 0 -45px
	&-phone
		/*width 230px*/
		font-size 26px
		text-align right
		margin-top -3px
		padding 0
		&__link
			color main-page-fc
			text-decoration none
			&:hover
				color main-page-fc
				text-decoration none

nav.main-menu
	noselection()
	padding 0
	margin-top 30px
	li
		a
			padding 0
			display: block
			text-decoration: none
			color #fff
			font 14px/42px robotoregular
			text-transform uppercase
			white-space nowrap
			&:hover
			&:focus
				text-decoration none
				color main-page-bgc
				background-color main-page-fc
.nav
	.open
		a
			color main-page-bgc
			background-color main-page-fc
	&__list
		padding 0
		margin 0
		list-style none
		border 2px solid main-page-fc
		border-radius 5px
		cf()
		max-width 100%
		width 100%
	&__item
		display table-cell
	&__link
		display block
		text-decoration none
	.dropdown-menu
		border-radius 6px
		box-shadow 0 1px 10px rgba(0, 0, 0, 0.25)
		padding 20px 25px
		li
			a
				font 12px/24px robotoregular
				color #149DB2
				text-transform uppercase
				&:hover
					color #505050

.main-slider
	noselection()
	margin 0 auto
	width 1140px
	overflow hidden
	padding 0 100px
	position relative
	.prev
	.next
		background url('../img/slider/control-arrow.png') no-repeat center
		width 50px
		padding 0
		display block
		position absolute
		top 0
		bottom 0
		cursor pointer
	.prev
		left 0
		background-position left
	.next
		right 0
		background-position right
	.owl-controls
		position absolute
		bottom 0
		width 100%
		& .owl-page
			margin-left 14px
			& span
				background transparent
				border 1px solid main-page-fc
		& .owl-page.active
			&	span
					background-color main-page-fc
			&:first-child
				margin-left 0
.slider
	&__item
		padding 0 20px
		margin 0
		position relative
		list-style none
		height 700px
		&__prct
			background url('../img/slider/proctolog.png') no-repeat right bottom
	&__header
		font 46px/58px robotothin
		padding 140px 0 0 0
	&__desc
		font 16px/30px robotolight
		margin 10px 0 0 0
	&__cost
		font-size 46px
		font-family robotobold
	&__btn
		margin-top 44px


.button
	display inline-block
	font 14px/40px robotoregular
	border-radius radius
	padding 0 36px
	text-transform uppercase
	text-decoration none
	&:hover
		text-decoration none
	&-light
		border 2px solid main-page-fc
		color main-page-bgc
		background-color main-page-fc
		&--dark-border
			border 2px solid main-page-bgc
			background-color main-page-fc
			&:hover
				background-color main-page-bgc
				color main-page-fc
		&:hover
			background-color main-page-bgc
			color main-page-fc
	&-dark
		border 2px solid main-page-bgc
		background-color main-page-bgc
		color main-page-fc
		&:hover
			color main-page-bgc
			background-color main-page-fc
			


// section services начало

.services
	background-color services-bgc
	color services-fc
	padding-top 90px
	padding-bottom 72px
	&__list
		// margin-bottom 63px
	&__item
		margin-bottom 30px
		height 162px
	&__icon
		height 100px
		width 100px
		margin 0 auto
		border-radius 50%
		background #f7f7f7
		&__gyn
			background-position 0px
		&__pct
			background-position -103px
		&__uro
			background-position -200px	
		&__gstr
			background-position -300px
		&__pdtr
			background-position -400px
		&__edsc
			background-position -500px
		&__cosm
			background-position -600px
		&__edcr
			background-position -703px	
		&__use
			background-position -797px
		&__dent
			background-position -902px
		
	&__header
		font 16px/1 robotoregular
		text-align center
	&__all-btn
		text-align center
		margin 23px 0
	&__btn
		outline none
		&:hover
		&:active
			outline none
// section services конец
		
		
// section description начало
.description
	min-height 500px
	background url('../img/clinic/bg.png') center center
	background-size cover
	-ms-filter "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/clinic/bg.png', sizingMethod='scale')"
	color main-page-fc
	padding 84px 0 40px 0
	.desc
		&__header
			font 41px/1 robotothin
			margin 0
		&__text
			margin-top: 56px
			font 16px/24px robotolight
		&__buttons
			margin-top 55px
		&__btn
			display inline-block
			margin-left 40px
			width 162px
			padding 0
			text-align center
			&:hover
				border-color main-page-bgc
			&:first-child
				margin-left 0
.promo
	padding-bottom 30px
	background-color #fff
	&-header
		min-height 170px
		background url('../img/promo/bg.png') no-repeat top
		&__header
			font 41px/70px robotothin
			color main-page-fc
			margin 45px 0 0 0
	&-footer
		&__item
			background url('../img/promo/s-feat.png') no-repeat
			height 100px
			padding 0
			display inline-block
			&__dev
				background-position 7px bottom
			&__doc
				background-position left center
			&__svc
				background-position left top
		&__text
			text-align left
			font 18px/20px robotolight
			color #434343
			margin 35px 0 0 110px
	&__list 																				// slider
		padding 0
		margin 0
	&__desc
		padding 30px 20px

// слайдер акций ****************************************************

.promo-slider
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	//width: 970px;
	.item
		&__link
		&__link:hover
		&__link:focus
		&__link:visited
		&__link:active
			display block
			text-decoration none
			color main-page-bgc
			background-color #fff
		&__link:hover
			color #fff
			background-color main-page-bgc
			& *
				color main-page-fc
		&__desc
			padding 30px 20px
		&__header
			font 26px robotolight
			color main-page-bgc
		&__text
			font 16px/24px robotolight
			margin-top 35px
			color #434343
		&__img
			width 100%
	.prev
	.next
		position absolute
		top 0
		display block
		width 33px
		height 100%
		background transparent url('../img/slider/control-arrow-blue.png') center no-repeat
		box-shadow none
		outline none
	.prev
		left -50px
		background-position left
	.next
		right -50px
		background-position right
	.row
		position relative

.doctors
	&__header
		font 41px/1.1 robotothin
		text-align left
		color #000000
		margin 0px 0 35px 0
	&__text
		font 16px/24px robotolight
		text-align left
		color #434343

.doctors-desc
	padding-top 56px
	background url('../img/doctors/bg.png') no-repeat center center
	background-size cover
	-ms-filter "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/doctors/bg.png', sizingMethod='scale')"

.doctors-form
	background main-page-bgc url('../img/doctors/form-bg.png') no-repeat left center
	padding 40px 30px 50px 30px
	margin 40px -30px 0 0
	box-shadow 0px 0px 25px 0px rgba(0, 0, 0, 0.3)
	background-size cover
	-ms-filter "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/doctors/form-bg.png', sizingMethod='scale')"
	&__dropdown
		margin 27px 0 0 0
		& button
		& button:focus
		& button:active
			font-size 14px
			line-height 30px
			outline none
			background-color #FFF
			border 1px solid #fff
			box-shadow none
			&.doctors-form__select-arrow
				color main-page-bgc
				background-color main-page-fc
				width 43px
				border-left 2px solid #dcf0f5
				&:hover
					color main-page-fc
					background-color main-page-bgc
	&__header
		font 24px/1 robotomedium
		color #ffffff
		margin 0
		padding 0
	&__select
		text-transform uppercase
		font 14px robotolight
		color #1b1b1b
		&:hover
			background-color #FFF
		&-arrrow
			color #08b
	&__list-item
		text-transform uppercase
		
.doctors-quest
	background-color #fff
	text-transform uppercase
	&__text
		font 28px robotothin
		text-align center
		margin 60px 0
		b
			font-family robotoregular
	&__link
		font-family robotothin
		text-decoration none
		color main-page-bgc
		&:hover
		&:visited
		&:active
		&:focus
			text-decoration none
			color main-page-bgc


.doctors-analyzes
	background url('../img/doctors/analize-bg.png') no-repeat center center
	padding 60px 0
	background-size cover
	-ms-filter "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/doctors/analize-bg.png', sizingMethod='scale')"
	&__header
		text-align center
		font 41px/1.1 robotothin
		.header-blue
			font-family robotomedium
			color main-page-bgc
	&__cont
		margin-top 45px
		&-block
			box-shadow 0 4px 15px rgba(0, 0, 0, 0.15)
			background-color #fff
	&__list
		list-style none
		padding 15px 0 0 0
		margin 0
	&__img
		width 100%
	&__item
		font 18px/37px robotothin
		color #434343
		text-align left
		position relative
		border-bottom 1px solid #f5f5f5
		&:after
			content ''
			background url('../img/doctors/angle.png') no-repeat center center
			width 30px
			height 100%
			display block
			position absolute
			right 0
			top 0
			bottom 0
		&:last-child
			border none
	&__feat
		font 20px/30px robotoregular
		text-align center
		margin-top 50px

.contact-form
	background main-page-bgc url('../img/contact-form/bg.png') no-repeat center center
	padding 45px 0
	background-size cover
	-ms-filter "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/contact-form/bg.png', sizingMethod='scale')"
	h3
		color #fff
	&__text-input
	&__butt
		//display block
		min-width 210px
		//float left
		height 40px
		background-color main-page-fc
		font 14px/1 robotolight
		text-transform uppercase
		color #434343
		padding-left 10px
		outline none
		//border-radius 5px
		&:focus
		&:active
			outline none
	&__butt
		line-height 40px
		text-align center
		color main-page-bgc
		font-family robotoregular
		text-decoration none
		padding 0
		&:hover
			text-decoration none
			color main-page-fc
			background-color main-page-bgc
			border 1px solid main-page-fc
			
	&__cont
		margin 10px auto
		
.map
	&-fig
		background url('../img/map/map-plain.png') no-repeat center center
		height 480px
	&-item
		text-align left
		padding 33px 0 0 50px
		color #434343
		position relative
		&__header
			text-transform uppercase
			font 16px/16px helveticaneuecyrroman
			margin-bottom 25px
			margin-left 30px
		&__text
			font 20px/24px helveticaneuecyrroman
			margin-bottom 5px
			&__phone
				font-size 24px
			& .mode-day
				font-family robotothin
		&	.map-item__text__address
				font-size 16px
		&__link
			font 14px/24px robotolight
			text-decoration none
			color main-page-bgc
			&:hover
				text-decoration none
		&__icon
			float left
			width 30px
			span
				font-size 20px
		&__cont
			margin-left 30px		
				
.footer
	background-color #fff
	color #040404
	&-top
		padding-top 50px
		margin 0 -15px
	&__header
		font 16px/37px robotolight
		text-transform uppercase
		margin-bottom 27px
	&__list
		padding 0
		margin 0
		list-style none
		overflow hidden
		cf()
	&__item
		padding-left 0
		margin-top 10px
	& &__link
		text-align left
		font 14px/24px robotolight
		color #7d7d7d
		text-decoration none
		padding-left 0
		padding-right 0
		&:hover
			text-decoration none
			color #139db2
			background-color #fff
	&-middle
		margin 28px -15px 0
	&-quest__link
		font 30px robotolight
		text-decoration none
		color #434343
		&:hover
		&:active
		&:focus
			text-decoration none
			color #434343
		& span
			font-family robotothin
	&-bottom
		padding 0 0 30px
		margin 40px -15px 0
	&-logo
		display block
	&-copy
		&__text
			font 12px/37px robotolight
			text-align right

.footer-socmoney
	padding-top 10px
	clearfix()
.soc
	&__list
		width 30%
		float left
		padding 0
		margin 0
		list-style none
		clearfix()
	&__item
		float left
	&__link
		display block
		width 30px
		height 30px
		background transparent url(../img/footer/social.png) no-repeat
		&__vk
			background-position left
		&__fb
			background-position right
		&:hover
			transform: scale(1.2)
			
.money
	&__text
		float left
		width 45%
		font 16px/30px robotolight
	&__list
		width 25%
		float left
		padding 0
		margin 0
		list-style none
		clearfix()
	&__item
		float left
		margin-left 5px
		&:first-child
			margin-left 0
	&__link
		display block
		width 38px
		height 30px
		background transparent url(../img/footer/cards.png) no-repeat
		&__visa
			background-position left
		&__mastercard
			background-position right
		&:hover
			transform: scale(1.2)

		


// модальные окна и формы
.modal
	background-color rgba(0,0,0,0.5)
.modal-content
	border-radius 0
	padding 20px
	h3
		font-family robotothin
		color #434343
		font-size 36px
		font-weight 300
		margin-top 40px
	h4
		font-family robotothin
		color #139DB2
		font-size 36px
		font-weight 300
		margin-bottom 30px
	.close
		margin-right 20px
	.btn
		margin-top 30px
		margin-bottom 30px
.modal-form
  /* ОШИБКИ В ФОРМЕ */
	.has-error
		.form-control
			border-color #a94442 !important
	.form-control
		border 1px solid #139db2
		border-radius 6px
		font-family robotolight
		color: #434343

// адаптив

@media (max-width: 1140px)

	.carousel-control
		display none
	.main-slider
		width 100%
		padding 0px
@media (min-width: 992px)
	.contact-form
		&__text-input
			margin-right 40px
		&__cont
			width 717px


@media (max-width: 992px)
	.header-logo,.header-slogan,.header-address,.header-phone
		margin 10px 0
	.main-slider
		.slider__item
			background-image none
	.footer
		&-bottom
			padding-bottom 10px
			p
				text-align center
		&-quest
			text-align center

@media (max-width: 1070px)
	.main-slider
	.promo-slider
		& .prev
		& .next
			display none
			
@media (max-width: 768px)
	.description
		.desc__btn
			margin-top 10px
			margin-bottom 10px
	.promo-header__header
		margin 20px 10px
	.header-logo,.header-slogan,.header-address,.header-phone
		text-align center
		margin 10px 0
	.navbar-collapse
		padding 0
	.nav__list
		border none
	.nav__link
		border-bottom 2px solid #ffffff
		margin-bottom 0
	.nav-justified
		&>li
			&>a
				margin-bottom 0
				border-bottom 2px solid #ffffff
	.dropdown-menu
		position relative
		left inherit
		top inherit
		float none
		width 100%
		border none
		box-shadow none !important
		border-radius 0 !important
		margin 0
	.doctors-form
		margin 0 -15px
	.header-phone__link
		line-height 69px
	.navbar-toggle
		margin-right 0
	.doctors-analyzes__header
		font-size 36px
		

@media (max-width: 480px)
	.description
		.desc__btn
		.desc__btn:first-child
			width 100%
			margin 10px 0
	.footer
		&__header
		&__item
			text-align center
			padding 0
		&__link
			font-size 24px

