head

	meta(charset="utf-8")
	//- meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Поликлиника в отрадном
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	link(rel="stylesheet", href="http://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.carousel.css")
	link(rel="stylesheet", href="http://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.theme.css")
	link(rel="stylesheet", href="css/main.css")
	link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png")
	link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192")
	link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
	link(rel="manifest" href="/manifest.json")
	link(rel="manifest" href="https://github.com/LPology/Bootstrap-IE7Fix/blob/master/css/bootstrap-ie7fix.css")
	meta(name="msapplication-TileColor" content="#b91d47")
	meta(name="msapplication-TileImage" content="/mstile-144x144.png")
	meta(name="theme-color" content="#ffffff")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
	script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")

	<![endif]-->
