doctype html
html(lang="ru")
	include _head.jade
	body
		.wrapper
			<!-- Главная страница - начало -->
			section.main-page
				.container
					.row
						.col-md-12.header
							.col-md-6.col-sm-6.col-xs-12
								.header-logo.col-md-6.col-sm-12
									a.logo__link(href="/")
										img.logo__img(src="img/logo/logo.png" alt="logo")
								.header-slogan.col-md-6.col-sm-12
									p.slogan__text Привыкайте быть здоровым!
							.col-sm-6.col-sm-6.col-xs-12
								.header-address.col-md-6.col-sm-12
									.address__row.address__row__loc
										p.address__text
											span.glyphicon.glyphicon-map-marker
											|м. Отрадное, Алтуфьевское шоссе д. 28, к. 1
									.address__row.address__row__mode
										p.address__text
											span.glyphicon.glyphicon-time
											|Пн-Пт: 8:00 - 21:00 / Сб-Вс: 9:00 - 21:00
								.header-phone.col-md-6.col-sm-12
									a.header-phone__link(href="tel:+74952155693") +7 (495) 215 56 93
									button.button-dark.pull-right.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
										span.glyphicon.glyphicon-align-justify(aria-hidden="true")
					.row
						nav.main-menu.nav.nav-default
							.collapse.navbar-collapse
								ul.nav__list.nav.nav-justified
									li.nav__item
										a.nav__link(href="#") Направления
									li.nav__item
										a.nav__link(href="#") Клиника
									li.nav__item
										a.nav__link(href="#") Врачи
									li.nav__item
										a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Цены
											ul.dropdown-menu(role="menu")
												li
													a(href="#") Направления
												li
													a(href="#") Клиника
												li
													a(href="#") Врачи
												li
													a(href="#") Цены
									li.nav__item
										a.nav__link(href="#") Стоматология
									li.nav__item
										a.nav__link(href="#") Педиатрия
									li.nav__item
										a.nav__link(href="#") Записаться на прием
				.main-slider
					#owl-top.owl-carousel
						.item
							.slider__item.slider__item__prct
								h3.slider__header Обследование у проктолога<br> за <span class="slider__cost">1300</span> рублей!
								p.slider__desc
									|Прием проктолога, пальцевое исследование, анооскопия,<br>
									|ректороманоскопия, постановка диагноза, предложение лечения 
								a.slider__btn.button.button-light(href="#")  Читать подробнее
						.item
							.slider__item.slider__item__prct
								h3.slider__header Обследование у проктолога<br>за <span class="slider__cost">1300</span> рублей!
								p.slider__desc 
									|Прием проктолога, пальцевое исследование, анооскопия,<br>
									|ректороманоскопия, постановка диагноза, предложение лечения 
								a.slider__btn.button.button-light(href="#")  Читать подробнее
						.item
							.slider__item.slider__item__prct
								h3.slider__header Обследование у проктолога<br>за <span class="slider__cost">1300</span> рублей!
								p.slider__desc 
									|Прием проктолога, пальцевое исследование, анооскопия,<br>
									|ректороманоскопия, постановка диагноза, предложение лечения 
								a.slider__btn.button.button-light(href="#")  Читать подробнее
					.prev
					.next
			<!-- Главная страница - конец -->
			<!-- Блок Услуги - начало -->
			section.services
				.container
					.row
						.services__list#services__list(data-services-in-main="6")
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon
									img.img-circle(src="../img/services/ginekologiya.png" alt="Гинекология")
								h3.services__header Гинекология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__pct
								h3.services__header Проктология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__uro
								h3.services__header Урология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__gstr
								h3.services__header Гастроэнтерология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__pdtr
								h3.services__header Педиатрия
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__edsc
								h3.services__header Эндоскопия
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon
									img.img-circle(src="../img/services/ginekologiya.png" alt="Гинекология")
								h3.services__header Гинекология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__pct
								h3.services__header Проктология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__uro
								h3.services__header Урология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__gstr
								h3.services__header Гастроэнтерология
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__pdtr
								h3.services__header Педиатрия
							.services__item.col-md-4.col-sm-4.col-xs-6
								.services__icon.services__icon__edsc
								h3.services__header Эндоскопия
								
			<!-- Блок Услуги - конец -->
			<!-- Блок Описание - начало -->
			section.description
				.container
					.row
						.col-md-12
							h3.desc__header Клиника
							p.desc__text
								| Многопрофильный медицинский центр СВАО Москвы расположен в пяти минутах<br>
								| езды от метро Отрадное, Владыкино, Бибирево, Алтуфьево. Комплексное<br>
								| обследование, современные методы лечения и диагностики, эффективность<br>
								| результатов в самые короткие сроки ― вот принципы нашей работы.
							.desc__buttons
								a.desc__btn.button.button-light(href="#") Направления
								a.desc__btn.button.button-light(href="#") Клиника
			<!-- Блок Описание - конец -->
			<!-- Блок Акции - начало -->
			section.promo
				.promo-header
					.container
						.row
							h3.promo-header__header Акции и предложения
				.promo-slider
					.container
						.row
							#owl-middle.owl-carousel.owl-theme
								.item
									a(href="#").item__link
										img.item__img(src="img/promo/promo1.png" alt="акция")
										.item__desc
											h3.item__header Микронидлинг со скидкой 15%
											p.item__text
												|Рентгенодиагностический комплекс
												|установленный в нашей клинике является
												|современным. многофункциональным цифровым
												|установленный в нашей клинике является современным
								.item
									a(href="#").item__link
										img.item__img(src="img/promo/promo2.png" alt="акция")
										.item__desc
											h3.item__header Плазмолифтинг
											p.item__text
												|Рентгенодиагностический комплекс
												|установленный в нашей клинике является
												|современным. многофункциональным цифровым
												|установленный в нашей клинике является современным
								//- .item
								//- 	a(href="#").item__link
								//- 		img.item__img(src="img/promo/promo3.png" alt="акция")
								//- 		.item__desc
								//- 			h3.item__header Современный рентген
								//- 			p.item__text
								//- 				|Рентгенодиагностический комплекс
								//- 				|установленный в нашей клинике является
								//- 				|современным. многофункциональным цифровым
								//- 				|установленный в нашей клинике является современным
								//- .item
								//- 	a(href="#").item__link
								//- 		img.item__img(src="img/promo/promo1.png" alt="акция")
								//- 		.item__desc
								//- 			h3.item__header Микронидлинг со скидкой 15%
								//- 			p.item__text
								//- 				|Рентгенодиагностический комплекс
								//- 				|установленный в нашей клинике является
								//- 				|современным. многофункциональным цифровым
								//- 				|установленный в нашей клинике является современным
								//- .item
								//- 	a(href="#").item__link
								//- 		img.item__img(src="img/promo/promo2.png" alt="акция")
								//- 		.item__desc
								//- 			h3.item__header Плазмолифтинг
								//- 			p.item__text
								//- 				|Рентгенодиагностический комплекс
								//- 				|установленный в нашей клинике является
								//- 				|современным. многофункциональным цифровым
								//- 				|установленный в нашей клинике является современным
								//- .item
								//- 	a(href="#").item__link
								//- 		img.item__img(src="img/promo/promo3.png" alt="акция")
								//- 		.item__desc
								//- 			h3.item__header Современный рентген
								//- 			p.item__text
								//- 				|Рентгенодиагностический комплекс
								//- 				|установленный в нашей клинике является
								//- 				|современным. многофункциональным цифровым
								//- 				|установленный в нашей клинике является современным
							a.btn.prev
							a.btn.next
				.promo-bottom
					.container
						.row
							.promo-footer
								.promo-footer__item.promo-footer__item__dev.col-md-4.col-sm-6
									p.promo-footer__text Современное оборудование
								.promo-footer__item.promo-footer__item__doc.col-md-4.col-sm-6
									p.promo-footer__text Заботливые врачи
								.promo-footer__item.promo-footer__item__svc.col-md-4.col-sm-6
									p.promo-footer__text Все услуги в одной клинике
			<!-- Блок Акции - конец -->
			<!-- Блок Доктора - начало -->
			section.doctors
				.doctors-desc
					.container
						.row
							.col-md-6
								img.img-responsive(src="img/doctors/doc-woman.png" alt="врач")
							.col-md-6
								h3.doctors__header Лучшие врачи нашей клиники
								p.doctors__text
									|В нашей клинике активно используются достижения
									|современной медицины, консультируют опытные
									|специалисты, проффесора, доктора наук и кондидаты
									|медицинских наук, врачи высшей квалификационной
									|категории.
								p.doctors__text
									|Мы хотим, что бы ни один из наших пациентов не
									|почувствовал себя “один на один” с болезнью.
								.doctors-form
									h3.doctors-form__header Возникли вопросы к врачу?
									.doctors-form__dropdown
										.btn-group
											button.btn.doctors-form__select(type='button') Выберите нужного врача
											button.btn.dropdown-toggle.doctors-form__select-arrow(type='button', data-toggle='dropdown', aria-expanded='false')
												span.caret
												span.sr-only
											ul.dropdown-menu(role='menu')
												each doctor in ['Проктолог','Уролог','Гастроэнтеролог','Педиатр','Косметолог','Эндокринолог','Стоматолог']
													li
														a.doctors-form__list-item(href='#')= doctor 
				.doctors-quest
					.container
						.row
							.col-md-12
								p.doctors-quest__text
									|<a href="#" class="doctors-quest__link" data-toggle="modal" data-target="#feedback__window">Возникли вопросы?</a>
									|Просто позвоните нам <b>+7 (495) 215 56 93</b>

				.doctors-analyzes
					.container
						.row
							.col-md-12
									h3.doctors-analyzes__header
										|В клинике осуществляются около <span class="header-blue">3 000</span> видов
										|лабораторных анализов и иследований:
						.doctors-analyzes__cont
							.row.doctors-analyzes__cont-block
								.col-md-4
									ul.doctors-analyzes__list
										each analyze in ['Общие анализы','Дерматология','Генекология','Эндокринология','Урология - андрология ','Анализы перед наркозом','Проктология']
											li.doctors-analyzes__item= analyze
								.col-md-8
									.row
										img.doctors-analyzes__img(src="img/doctors/analyze.png" alt="Analyzes")
							.row
								.col-md-12
									p.doctors-analyzes__feat
										|Все иследования выполняются на автоматических анализаторах закрытого типа с использыванием фирменных реагентов и калибраторов.
			<!-- Блок Доктора - конец -->
			<!-- Блок Форма - начало -->
			section.contact-form
				.container
					.contact-form__cont
						form.form-inline#contact-form(action="/")
							//.col-md-4.col-sm-4.col-xs-12.text-center
							.form-group
								input.contact-form__text-input.form-control(type="text" name="username" placeholder="Имя")
							.form-group
								input.contact-form__text-input.form-control(type="text" name="userphone" placeholder="+7")
							button.btn.contact-form__butt(type="submit") Записаться на прием
			<!-- Блок Форма - конец -->
			<!-- Блок Карта - начало -->
			section.map
				.map-fig#map
				.container
					.row
						.map-item.col-md-4
							h3.map-item__header Запись на прием:
							.map-item__icon
								span.glyphicon.glyphicon-time
							.map-item__cont
								p.map-item__text.map-item__text__mode.
									<span class="mode-day">ПН - ПТ</span>  8:00 - 21:00 
								p.map-item__text.map-item__text__mode.
									<span class="mode-day">СБ - ВС</span>  9:00 - 21:00
						.map-item.col-md-4
							h3.map-item__header Телефон:
							.map-item__icon
								span.glyphicon.glyphicon-phone
							.map-item__cont
								p.map-item__text.map-item__text__phone +7 (495) 215 56 90
						.map-item.col-md-4
							h3.map-item__header Наш адрес:
							.map-item__icon
								span.glyphicon.glyphicon-map-marker
							.map-item__cont
								p.map-item__text.map-item__text__address м. Отрадное, Алтуфьевское шоссе 5 к.1
								a.map-item__link(href="#") Как проехать?
			<!-- Блок Карта - конец -->
			<!-- Футер - начало -->
			footer.footer
				.container
					.row.footer-top
						.col-md-12
							h3.footer__header Услуги
							ul.footer__list.row
								- for (var i = 0; i<8; i++)
										each service in ['Гинекология','Проктология','Урология','Генекология']
											li.footer__item.col-md-2.col-sm-3.col-xs-12
												a.footer__link(href="#")= service
					.row.footer-middle
						.footer-menu.col-md-8
							h3.footer__header Меню
							ul.footer__list.nav.nav-justified
								each item in ['Направления','Клинника','Врачи','Цены']
									li.footer__item.footer
										a.footer__link(href="#")= item
						.footer-quest.col-md-4
							h3.footer__header Ответим на все ваши вопросы
							a.footer-quest__link(href="tel:+74952155690") <span>+7 (495)</span> 215 56 90
					.row.footer-bottom
						.col-md-3
							a.footer-logo(href="#")
								img.footer-logo__img(src="img/logo/footer-logo.png" alt="logo")
						.col-md-5
							.footer-socmoney
								ul.soc__list
									li.soc__item
										a(href="http://vk.com").soc__link.soc__link__vk
									li.soc__item
										a(href="http://facebook.com").soc__link.soc__link__fb
								p.money__text Принимаем к оплате:
								ul.money__list
									li.money__item
										a(href="").money__link.money__link__visa
									li.money__item
										a(href="").money__link.money__link__mastercard
						.col-md-4
							.footer-copy
								p.footer-copy__text &copy; 2001-2015 “ПолиКлиника Отрадное”
			<!-- Футер - конец -->
			<!-- Окно контакта -->
			.modal.fade#feedback__window(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				.modal-dialog
					.modal-content
						.row
							button.close(type="button" data-dismiss="modal" aria-label="Close")
								span.glyphicon.glyphicon-remove(aria-hidden="true")
							h3.center-block.text-center Задайте вопрос врачу:
							h4.center-block.text-center Эндокринолог
							.modal-body
								.center-block
									form.modal-form#question__form(action="/")
										.col-md-12.center-block
											.col-xs-5
												.form-group
													label.sr-only(for="username") ВАШЕ ИМЯ
													input.form-control(type="text" id="username" placeholder="ВАШЕ ИМЯ")
												.form-group
													label.sr-only(for="email") EMAIL
													input.form-control(type="text" id="email" placeholder="EMAIL")
												.form-group
													label.sr-only(for="cellphone") ТЕЛЕФОН
													input.form-control(type="text" id="cellphone" placeholder="EMAIL")
											.col-xs-7
												.form-group
													textarea.form-control(rows="6" placeholder="ВАШ ВОПРОС")
							.col-xs-12.text-center
								button(type="submit" class="btn button-dark") Отправить

			<!-- /Окно контакта -->
		include _bottom.jade
